#wrapper {
  position: relative;
  height: 800px;
  //   overflow: hidden;
  .slide-item {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: scale(1);
    transition: opacity 1s linear, transform 6.5s linear;
    &.active {
      opacity: 1;
    }
    &.zoom {
      transform: scale(1.3);
    }
  }
}
